*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #2e2e42;
    font-family: 'Roboto', sans-serif;
}

body .conteiner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    
}

header{
    display: grid;
    align-content: center;
    background: rgba(0, 0, 0, .225);
    padding: 30px;
    border-bottom: 2px solid #998989;

}
header .menu{
    text-align: center;
}
header .menu a{
    font-size: 20px;
    margin: 0rem 1rem;
    color: white;
}
.menu a[href^="https"]::before {
    content: "🔗 ";
  }
  
.menu a[href^="mailto"]::before {
    content: "📧 ";
}

.menu a[href^="tel"]::before {
    content: "📞 ";
}
.conteiner .corpo{
    
    display: flex;
    justify-content: space-between;
    
}

main .logo-corpo{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 8%;
    font-size: 2em;
    color: white;
}

.corpo .logo-corpo img{
    border-radius: 50%;
}


.corpo .mensagem{
    width: 40%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.corpo .corpo-mensagem p{
   margin: 30px 20px 30px;
   text-align: justify;
   /* letter-spacing: 1px; */
}

.corpo .corpo-mensagem li{
    margin-left: 20px;
    list-style: none;
}

footer{
    
    background: rgba(0, 0, 0, .225);
    border-top: 2px solid #998989;
}
.rodape{display: flex; align-items: center; justify-content: center;}
.rodape a{font-size: 1.5em; color: rgba(255,255,255, 0.5); margin-right: 2%;}
.rodape a:hover{ color: rgb(255, 255, 255)}
/* ELIMINANDO A MARGEM DIREITA DO ULTIMO ELEMENTO DOS ICONES (NESSE O ULTIMO ELEMENTO FILHO)*/
.rodape a:last-child{margin-right: 0;}
